In [14]:
import os
import re
import pandas as pd
path='X:\\NTU\\ML-sketch\\dataset\\Webpage\\webdocs'
pattern='out_.*'
r=re.compile(pattern)
fileli=list(filter(r.match,os.listdir(path)))
    # 把ost_split_xx.txt過濾出來
num_line=0
itemdict={}
for item in fileli:
    with open(os.path.join(path,item),'r') as file:
        while True:
            eli=file.readline().strip('\n')
            if not eli:
                break
            else:
                num_line+=1
                if eli not in itemdict:
                    itemdict[eli]=1
                else:
                    itemdict[eli]+=1
print(num_line)
    # 299887139 items
print(len(itemdict))
    # 5267656 distinct elements
df=pd.DataFrame(list(itemdict.items()),columns=['Element', 'Count'])
df=df.reset_index(drop=True)
df=df.sort_values('Count',ascending=False)
df.head(20)

groundtruth='webdocs_ground_truth.csv'
df.to_csv(groundtruth,index=False)

xdf=pd.read_csv(os.path.join(path,groundtruth))
xdf.head(10)

299887139

    Element    Count
121     122  1429525
7         8  1309694
48       49  1178279
123     124   887358
515     516   858146
170     171   793840
50       51   787398
120     121   726516
877     878   677779
149     150   677637
157     158   675209
145     146   674412
59       60   641971
148     149   634232
307     308   597297
83       84   567410
378     379   562869
21       22   552854
0         1   552824
513     514   549880

In [22]:
import os
import re
import pandas as pd
path='X:\\NTU\\ML-sketch\\dataset\\Webpage\\webdocs'
pattern='out_.*'
r=re.compile(pattern)
fileli=list(filter(r.match,os.listdir(path)))
    # 把ost_split_xx.txt過濾出來
num_line=0
itemdict={}
for item in fileli[:1]:
    # 只讀out_split_00.txt
    with open(os.path.join(path,item),'r') as file:
        while True:
            eli=file.readline().strip('\n')
            if not eli:
                break
            else:
                num_line+=1
                if eli not in itemdict:
                    itemdict[eli]=1
                else:
                    itemdict[eli]+=1
print(num_line)
    # 299887139 items
print(len(itemdict))
    # 5267656 distinct elements
df=pd.DataFrame(list(itemdict.items()),columns=['Element', 'Count'])
df=df.reset_index(drop=True)
df=df.sort_values('Count',ascending=False)

groundtruth='webdocs_00_ground_truth.csv'
df.to_csv(os.path.join(path,groundtruth),index=False)

15487894
591722

In [24]:
ydf=pd.read_csv(os.path.join(path,groundtruth))
ydf[.head(20)]

    Element  Count
0       122  72508
1         8  69349
2        49  59525
3       124  46414
4       516  46325
5        51  39881
6       171  39569
7       150  39447
8       121  38702
9       158  35133
10      146  34204
11      149  34169
12      878  33879
13       60  33370
14      308  33035
15       22  30589
16      379  30370
17      514  29506
18        1  29156
19       84  29086